<div>
    <table border="1">
        <thead>
            <tr>
                <td></td>
                <td> ID </td>
                <td> Nome </td>
                <td> Idade </td>
            </tr>
        </thead>
        <tbody>
            <td>
                <button>Editar</button> 
                {{" "}}
                <button>Excluir</button>
            </td>
            <td> 1 </td>
            <td> Tarik Lopes </td>
            <td> 24 </td>
        </tbody>
        
    </table>

</div>